.iconfont {
    font-family: "iconfont" !important;
    font-size: 0.4rem !important;
    font-style: normal;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    /*禁止用户选择文字*/
    -moz-user-select: none;
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

a {
    text-decoration: none;
    color: #009688;
}


/* 选项卡样式 */

.layui-tab-title {
    height: 50px;
}

.layui-tab-title li {
    font-size: 18px;
    line-height: 50px;
    min-width: 120px;
}


/* 标题 */

#title {
    position: absolute;
    z-index: 99;
    right: 2%;
    font-size: 18px;
    line-height: 50px;
    min-width: 120px;
}


/* 内容板块 */

.layui-tab-content {
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
}


/* 表格样式 */

.load_more {
    width: 85%;
    text-align: center;
    border: 1px solid #fff;
    font-size: 0.14rem;
    margin: 0 auto;
    margin-top: 20px;
}

.load_more td,
.load_more th {
    font-size: 16px;
}

.laypage {
    float: right;
    margin-right: 2.5%;
}


/* 线路管理模块的查询样式 */


/* 标签宽度设置 */

#search-line-manage {
    position: absolute;
    top: 0;
    right: 0;
}

#search-line-manage .layui-form-label {
    width: 100px;
}

#search-line-manage .layui-form-item {
    display: inline-block;
}


/* 弹出的表单 */

.adds {
    display: none;
    padding: 20px;
}

.layui-layer-content {
    height: auto;
}