.iconfont {
    font-family: "iconfont" !important;
    font-size: 0.4rem !important;
    font-style: normal;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    /*禁止用户选择文字*/
    -moz-user-select: none;
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

a {
    text-decoration: none;
    color: #fff;
}


/*滚动条样式*/

::-webkit-scrollbar {
    width: 6px;
    background-color: #181c32;
}

::-webkit-scrollbar-thumb {
    background-color: #5a76cd;
}


/* 选项卡样式 */

.layui-tab-title {
    height: 50px;
}

.layui-tab-title li {
    font-size: 18px;
    line-height: 50px;
    min-width: 120px;
}


/* 表格样式 */

.load_more {
    width: 85%;
    text-align: center;
    border: 1px solid #fff;
    font-size: 0.14rem;
    margin: 0 auto;
    margin-top: 10px;
}

.load_more td,
.load_more th {
    font-size: 15px;
}