    * {
        margin: 0;
        padding: 0;
    }
    
    body,
    html {
        height: 100%;
        min-width: 1308px;
        overflow: auto;
        /* position: relative; */
    }
    
    table td {
        font-family: "Times New Roman", Georgia, Serif;
        font-weight: bold;
        text-align: center;
    }
    /* 解决boostrap点击弹窗后抖动现象 */
    
    .modal-open {
        overflow-y: auto !important;
        padding-right: 0 !important;
    }
    /* 修改按钮的背景色和边框 */
    
    .btn-primary {
        background-color: #01AAED!important;
        border: none!important;
    }
    
    .btn-primary:active,
    .btn-primary.active,
    .btn-primary:focus,
    .btn-primary.focus {
        background-color: #337ab7 !important;
        border: none !important;
        outline: none !important;
    }
    
    .btn:hover,
    .btn:focus {
        outline: none !important;
    }
    
    #loading {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 9999999999999999999;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #loading img {
        display: inline-block;
        width: 300px;
    }
    /* 自动刷新or查找某时刻的信息的样式 */
    
    #switchContainer {
        width: 500px;
        position: absolute;
        right: 20%;
        top: 2%;
        z-index: 99;
    }
    
    .col {
        position: absolute;
        z-index: 999;
        right: 27%;
        font-size: 18px;
        margin-top: 6%;
    }
    /*.col h4{
	height:40px;
	line-height:40px
}*/
    /* 在一个小时中的六个时间段再选择 */
    
    .minuteChoose {
        width: 30px;
        height: 30px;
        display: inline-block;
        cursor: pointer;
    }
    
    .opt {
        height: 30px;
        line-height: 24px;
        display: inline-block;
    }
    /* 其他两个大功能按钮 */
    
    #alarm {
        position: absolute;
        right: 22%;
        top: 2%;
        z-index: 999;
    }
    
    #manageEntrance {
        position: absolute;
        left: 22%;
        top: 2%;
        z-index: 999;
    }
    
    #clear {
        position: relative;
        top: 0;
        right: 0;
        width: 40%;
        margin-top: 2%;
        margin-bottom: 2%;
        display: inline-block;
    }
    
    #off {
        width: 40%;
        float: right;
        margin-top: 2%;
        display: inline-block;
    }
    
    #list th,
    #list td {
        text-align: center;
    }
    
    #list1 th,
    #list_2 th {
        text-align: center;
    }
    
    .mycharts {
        width: 570px;
        height: 300px;
    }
    /* 显示图层的样式，主要是设置背景图片 */
    
    .pic {
        width: 1800px;
        height: 900px;
        background-image: url(../img/pic.png);
        background-size: 100%;
        position: relative;
        /* left: -100px;
    top: -120px; */
        z-index: 1;
        /* transform: scale(0.9, 0.9); */
        margin: 0 auto;
    }
    /* 表格的样式 */
    
    .XBdetail {
        width: 235px;
        position: absolute;
    }
    /* 为每个表格设置不同的显示位置 */
    
    #table_info0 {
        top: 200px;
        right: 100px;
    }
    
    #table_info1 {
        top: 905px;
        right: 230px;
    }
    
    #table_info2 {
        top: 200px;
        right: 415px;
    }
    
    #table_info3 {
        top: 905px;
        right: 545px;
    }
    
    #table_info4 {
        top: 200px;
        right: 725px;
    }
    
    #table_info5 {
        top: 905px;
        left: 705px;
    }
    
    #table_info6 {
        top: 905px;
        left: 355px;
    }
    
    #table_info7 {
        top: 150px;
        left: 315px;
    }
    
    #table_info8 {
        top: 150px;
        left: 340px;
    }
    
    .detail {
        cursor: pointer;
    }
    /* 各个机组覆盖的颜色图层标志 */
    
    .flag {
        height: 45px;
        width: 45px;
        position: absolute;
        z-index: 2;
        cursor: pointer;
    }
    
    #flag0 {
        top: 719px;
        right: 178px;
    }
    
    #flag1 {
        top: 719px;
        right: 337px;
    }
    
    #flag2 {
        top: 719px;
        right: 497px;
    }
    
    #flag3 {
        top: 719px;
        right: 665px;
    }
    
    #flag4 {
        top: 719px;
        right: 812px;
    }
    
    #flag5 {
        top: 719px;
        left: 798px;
    }
    
    #flag6 {
        top: 719px;
        left: 454px;
    }
    
    #flag7 {
        top: 271px;
        left: 573px;
    }
    
    #flag8 {
        top: 719px;
        left: 351px;
    }
    
    #flag9 {
        top: 719px;
        left: 253px;
    }
    
    #flag10 {
        top: 719px;
        left: 142px;
    }
    /* 电流的历史信息点击按钮 */
    
    .I_history {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        text-align: center;
        position: absolute;
        color: #fff;
        background-color: #01AAED;
        cursor: pointer;
        z-index: 99999;
    }
    
    #I_history0 {
        left: 1625px;
        top: 545px;
    }
    
    #I_history1 {
        left: 1465px;
        top: 545px;
    }
    
    #I_history2 {
        left: 1305px;
        top: 545px;
    }
    
    #I_history3 {
        left: 1135px;
        top: 545px;
    }
    
    #I_history4 {
        left: 990px;
        top: 545px;
    }
    
    #I_history5 {
        left: 840px;
        top: 545px;
    }
    
    #I_history6 {
        left: 500px;
        top: 545px;
    }
    
    #I_history7 {
        left: 615px;
        top: 235px;
    }
    
    #I_history8 {
        left: 395px;
        top: 835px;
    }
    
    #I_history9 {
        left: 291px;
        top: 835px;
    }
    
    #I_history10 {
        left: 115px;
        top: 835px;
    }